@use './mixins' as m;

html {
  background-color: var(--color-suigintou);
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  color: var(--color-kirakishou);
  font-size: 1.9rem;
  line-height: 1.35;
}

a {
  text-decoration: none;

  &:not(:hover):not(:focus):not(:focus-visible) {
    color: var(--color-kanaria);
    transition: color ease-in-out var(--time-no-hover-delay);
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: var(--color-kanaria-brightness-60);
    transition: color ease-in-out var(--time-hover-delay);
  }

  &:focus-visible {
    outline: 2px solid var(--color-kanaria-brightness-60);
    outline-offset: 0.15em;
  }
}

main {
  padding: 16px;
  position: relative;
  isolation: isolate;

  &::before {
    @include m.bg-roses(1350px, 35px, 0.04);
  }
}
